.outer-container{
   width: 80%;
   height: auto;
   margin: auto;
   min-width: 768px;
}

h1{
    text-align: center;
    font-size: 24px;
    height: 90%; 
    width:100%;
}

.wc-image{
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    visibility: hidden;
    background-image:url('../img/default.gif');
}

div#loading{
    width: 80px;
    height: 118px;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: none;
    background: url('../img/hex-loader-rotated.gif') no-repeat;
    cursor: wait;
}

form{
    text-align: center;
}

#tester{
    display: block;
    width: 80px;
    height: 118px;
    margin: auto;
    background-image: url('../img/hex-loader-rotated.gif');
}