.outer-container{
   width: 80%;
   height: auto;
   margin: auto;
   min-width: 768px;
}

.wc-container{
   width: 80%;
   height: 0 auto;
   margin: auto;
   min-width: 768px;
   position: relative;
}

.word{
	margin-left: 10px;
	padding: 10px;
}

h1{
    text-align: center;
    font-size: 24px;
    height: 90%; 
    width:100%;
}

.wc-image{
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    visibility: hidden;
    background-image:url('../img/default.gif');
}

.outer-container a{
	text-align: center;
	display: inline-block;
	}

div#loading{
    width: 80px;
    height: 118px;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: none;
    background: url('../img/hex-loader-rotated.gif') no-repeat;
    cursor: wait;
}

form{
    text-align: center;
}

#tester{
    display: block;
    width: 80px;
    height: 118px;
    margin: auto;
    background-image: url('../img/hex-loader-rotated.gif');
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}

.vertical-text-180 {
    transform: rotate(270deg);
    transform-origin: left top 0;
}

